html, body, #root, .books-app {
  height: 100%;

  /* Colors */
  --primary-color: #071013;
  --secondary-color: #5BC8AF;
  --primary-light-color: #607466;
  --secondary-light-color: #56E39F;
  --toast-info-color: #33658A;
  --toast-error-color: #BA2D0B;
  
  /* Box Shadows */
  --button-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --search-box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 0 6px rgba(0,0,0,0.23);
  --button-box-shadow-active: inset 0 0 3px 1px var(--secondary-color);
  --book-box-shadow-active: 0 0 5px 3px var(--primary-color);
}
body {
  line-height: 1.3;
  margin: 0;
}
body *, body *::placeholder {
  transition: 250ms;
}

::selection {
  color: var(--primary-color);
  background: var(--secondary-light-color);
}