.bookshelf {
  text-align: center;
  padding: 20px;
  flex: 1;
  overflow: auto;
}

.books-grid {
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}