.book {
  width: 140px;
}
.book-title {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 0.8em;
}
.book-authors {
  color: var(--primary-color);
  font-size: 0.7em;
}
.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}
.book-cover {
  height: 193px;
  width: 128px;
  box-shadow: var(--button-box-shadow);
}
.book-cover:hover {
  box-shadow: var(--book-box-shadow-active);
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--primary-color) url('../icons/arrow-drop-down.svg') no-repeat center;
  background-size: 20px;
  box-shadow: var(--button-box-shadow);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}
.book-shelf-changer select:focus, .book-shelf-changer select option:focus {
  box-shadow: var(--button-box-shadow-active);
}
.book-shelf-changer select {
  color: var(--secondary-color);
  background: var(--primary-color);
}

.toast-move-book {
  background: var(--toast-info-color);
}
.toast-remove-book {
  background:var(--toast-error-color);
}