.change-shelf {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.change-shelf button {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 10%;
  color: var(--primary-light-color);
  background: var(--primary-color);
  -webkit-box-shadow: var(--item-shadow);
  box-shadow: var(--item-shadow);
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0 10px;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.change-shelf button:hover {
  -webkit-box-shadow: var(--item-shadow-active);
  box-shadow: var(--item-shadow-active);
}
.change-shelf button.selected {
  color: var(--secondary-color);
}