.change-shelf {
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.change-shelf button {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 10%;
  color: var(--primary-light-color);
  background: var(--primary-color);
  box-shadow: var(--button-box-shadow);
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0 10px;
  font-size: 1em;
  user-select: none;
}
.change-shelf button:hover, .change-shelf button:focus {
  box-shadow: var(--button-box-shadow), var(--button-box-shadow-active);
}
.change-shelf button.selected {
  color: var(--secondary-color);
}