.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--primary-color);
  -webkit-box-shadow: var(--header-shadow);
  box-shadow: var(--header-shadow);
}
.search-input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: var(--secondary-color);
  background: transparent;
  padding: 15px 10px;
  font-family: 'FontAwesome', 'Roboto', sans-serif;
  font-size: 1.25em;
  border: none;
  outline: none;
}
.search-input:hover::-webkit-input-placeholder, .search-input:focus::-webkit-input-placeholder {
  color: var(--primary-light-color);
}
.search-input:hover:-ms-input-placeholder, .search-input:focus:-ms-input-placeholder {
  color: var(--primary-light-color);
}
.search-input:hover::placeholder, .search-input:focus::placeholder {
  color: var(--primary-light-color);
}
::-webkit-input-placeholder {
  color: var(--secondary-color);
}
:-ms-input-placeholder {
  color: var(--secondary-color);
}
::placeholder {
  color: var(--secondary-color);
}

.close-search {
  width: 53px;
  height: 53px;
  background: transparent url('../icons/arrow-back.svg') no-repeat center;
  background-size: 28px;
  outline: none;
}
.close-search:hover, .close-search:focus {
  -webkit-transform: translate(-10%);
  transform: translate(-10%);
}

.clear-search {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 53px;
  height: 53px;
  background: transparent url('../icons/close.svg') no-repeat center;
  background-size: 28px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}
.clear-search:hover, .clear-search:focus {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.clear-search.hidden {
  right: -53px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}