.search-books {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-books-empty {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary-color);
}