.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  background-color: var(--theme-primary-color);
  box-shadow: var(--theme-search-box-shadow);
}
.search-books-input-wrapper {
  flex: 1;
}
.search-books-bar input {
  color: var(--theme-secondary-color);
  background: var(--theme-primary-color);
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}
::placeholder {
  color: var(--theme-secondary-color);
}
.search-books-bar input:hover::placeholder, .search-books-bar input:focus::placeholder {
  color: var(--theme-primary-light-color);
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: var(--theme-primary-color);
  background-image: url('../icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  cursor: pointer;
  border: none;
  outline: none;
}

.close-search:hover, .close-search:focus {
  transform: translate(-10%);
}
.search-books-results {
  padding: 80px 10px 20px;
}

::selection {
  color: var(--theme-primary-color);
  background-color: var(--theme-secondary-light-color);
}